*{
  font-family: helvetica;
}

html,body{
 width: 100%;
 height: 100%;
 background-color: #E2FFF1;
}

.sticky-header {
  height: 20%;
  width: 100%;
  min-height: 50px;
  position: fixed;
  top: 0px;
  background-color: black;
  color:white;
  display: flex;
  justify-content:space-between;
  opacity: 1;
}

#news-container{
  background-color:white;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.article-link{
  color:black;
}
.article-link:link{
  text-decoration: none;
}
.article-link:visited {
  text-decoration: none;
}

.article-link:hover {
    text-decoration: none;
}
.article-link:active {
    text-decoration: nones;
}
.headline{
  text-align: center;
}
.sticky-header-third{
  height:100%;
  width:33%;
  /*background-color: green;*/
  display:flex;
  align-items: center;
  justify-content: center;
}
.sticky-header-image{
  height:80%;
}

#home-button{
-webkit-filter: invert(1);
}

.article-div{
  width:80%;
  height:20%;
  background-color: #F0FFFF;
  margin: auto;
  padding:10px;
  border-bottom:1px solid black;

}

.article-div:hover{
  opacity: 0.5;
}

.article-div-container{
  width:90%;
  background-color: red;
  text-decoration: none;
}

.image-port{
  overflow: hidden;
  width:100%;
  height: 200px;
}
.news-image{
  width:100%;
  height:initial;
}
.header-image-div{
  background-color:white;
  width:100%;
  margin:auto;
  padding-top: 15%;
  border-bottom:1px solid black;
}

.summary{

}
#header-image{
  width:100%;
}
